.page{
    height: 10vh;
    width:10vw;
    background-color: aqua;
    display:flex;
    flex-direction: row;
    margin:10px;
}

.mini{
    
    color:white;
    margin:5px;
    height:10vh;
    width:10vw;
}

.bottom{

}